<h2>Failure: <%= @message %></h2>
<p class='big'>The authentication failed for some reason.
Perhaps the server has been configured wrong, or, if you
are using the identity strategy, perhaps you entered a
wrong password along the way. <a href='/'>Head back</a>
to try again.</p>
